<div class="container p-6 flex flex-col ">
  @if(isEditMode) {
    <div class="flex justify-end">
      <app-icon (click)="onCloseEditMode()" name="cross"></app-icon>
    </div>
    <router-outlet></router-outlet>
  } @else {
    <div class="flex flex-col h-full gap-4 mx-2">
      <app-search class="flex-shrink-0"
        [closeOnOutsideClick]="false"
        placeholder="Search category"
        (onClose)="onCancel()"
        (onSearchTermChanged)="searchTerm.set($event)">
      </app-search>

      <div class="container-list flex-1 overflow-y-auto">
        @if(categoryList().length === 0 && searchTerm().length > 0) {
          <div class="p-2 text-red-300">{{ emptyListMsg }}</div>
        }
        @for (category of categoryList(); track $index) {
          @let categoryId = category[0];
          @let categoryName = category[1];

          <div
            class="list-item"
            (click)="onSelectCategory(categoryId)">
              {{ categoryName }}
          </div>
        }
      </div>
    </div>
  }
</div>

