@let msg = serviceMessage.serviceMessage();

@if(loadingService.isLoading())
{
  <app-loader></app-loader>
} @else if (!!msg && msg.type === 'error') {
  <div class="tg-card bg-red-100 border border-red-100 rounded-lg text-red-500">{{ msg.text }}</div>
} @else {
  
  @if (!!msg) {
    <!-- TODO: move msg to separate component -->
    <div class="service-message absolute w-full flex justify-center items-center h-5 border "
      ngClass="{{msg.type}}"
      (click)="serviceMessage.resetServiceMessage()">
      <!-- <app-icon class="text-green-700" name="checkCircleFill"></app-icon> -->
        {{ msg.text }}
    </div>
    <!-- <div 
      class="fixed w-[90%] top-2 left-1/2 transform -translate-x-1/2 bg-green-100 border border-green-300 text-green-700 px-4 py-2 rounded-lg shadow-lg z-50 flex items-center gap-2"
      (click)="serviceMessage.resetServiceMessage()">
      <app-icon class="text-green-700" name="checkCircleFill"></app-icon>
      {{ msg }}
    </div> -->
  }
  <router-outlet></router-outlet>
}
