<div class="category tg-card mb-2" [ngClass]="{'selected': isCategoryOpened}">
  <div class="flex justify-between">
    <h2 class="w-full category-name" (click)="toggleCategory()">
      {{ categoryName }} ({{ products.length }})
    </h2>
    @if(isCategoryOpened) {
    <a class="category-edit" [routerLink]="[`/${categoryRouterPath}`, categoryId()]">
      <app-icon class="text-gray-400" name="edit"></app-icon>
    </a>
    }
  </div>
  @if(isCategoryOpened && !products.length) {
    <div class="p-2 text-red-300">{{ emptyListMsg }}</div>
  } @else if(isCategoryOpened && products.length) {
    <app-product-list class="category-item" [products]="products"></app-product-list>
  }
</div>
