:host {
  height: 100%;
}

.main-container {
  height: 94vh;

  .toggler {
    transform: rotate(90deg);
  }

  .tg-button.active{
    @apply bg-blue-500 border border-blue-700;
  }

  /* click event */
  .tg-button.active:active {
    @apply bg-blue-700 border border-blue-900;
  }

  .tg-button:disabled {
    @apply bg-gray-100 border border-gray-300 text-gray-500;
  }
  .tg-button:disabled:active {
    @apply bg-gray-300 border border-gray-700;
  }

  .main-container-content {
    height: 80vh;
    overflow-x: hidden;
  }

  .filter-btn {
    height: 32px;
    padding: 0 12px;
    flex: auto;
  }
}
