<h2 class="category-name">{{categoryName}}</h2>
@let productsList = products();
@if(productsList && productsList.length) {
  @for(product of productsList; track product.id) {
  <div class="product-item">
    <div class="product-actions">
      @if(product.isDone && !product.isDraft) {
        <app-icon (click)="addToDraft(product.id)" name="check" size="w-6 h-6" class="text-green-700"></app-icon>
      }
      @else if(product.isDraft) {
        <app-icon
          class="text-orange-500"
          (click)="removeFromDraft(product.id)"
          [name]="product.isDone ? 'cart' : 'cartDash'">
        </app-icon>
      } @else {
        <app-icon (click)="addToDraft(product.id)" name="cartPlus" class="text-gray-500"></app-icon>
      }
    </div>
    <div
      class="product-title"
      [ngClass]="{'text-orange-500': product.isDraft}">
      {{product.title}}
    </div>
      <app-icon (click)="updateCartById(product)" name="update"></app-icon>
      <!-- <a class="product-edit" [routerLink]="['/product', product.id]">
        <app-icon name="edit"></app-icon>
      </a> -->
  </div>
  }
}
