.category-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-item {
  display: flex;
  gap: 12px;
  height: 50px;
  align-items: center;
  border-top: 1px solid #ccc;
  margin-bottom: 4px;
  padding-right: 10px;

  .product-actions {
    width: 22px;
  }

  .product-title {
    flex: 1;
  }

  .product-edit {
    margin-left: auto;
    flex-shrink: 0;
  }
}
